﻿@model IEnumerable<sng_web.Models.Comerce>

<div style="">
    <div class="pull-left">
        <p>
            <a class="uk-button uk-button-primary" onclick="getCategories(); getOwner(); loadTable();" uk-toggle="target: #modal_newcomerce">
                <span class="glyphicon glyphicon-plus"></span>
                Nuevo
            </a>
        </p>
    </div>

    <div class="pull-right">
        <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
        <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
            <form class="uk-search uk-search-navbar uk-width-1-1">
                <input class="uk-search-input" id="search_comerce" type="search" placeholder="Buscar..." autofocus onkeyup="getComerceFilter(1)">
            </form>
        </div>
    </div>
</div>


<table class="uk-table uk-table-middle uk-table-striped table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UrlLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ruc)
            </th>
            <th>
                <span uk-icon="star"></span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Owner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActived)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody id="table_comerce">
        @foreach (var item in Model)
        {
            <tr style="vertical-align: middle">
                <td>
                    @*@Html.DisplayFor(modelItem => item.UrlLogo)*@
                    <img alt='image' width='50' class='uk-border-squart' src='~/images/comerce.png'>
                </td>
                <td class="uk-table-expand">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="uk-table-expand">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="uk-table-expand">
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ruc)
                </td>
                <td class="center">
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td class="uk-text-truncate" uk-tooltip="title: @item.Owner.FullName; pos: top-right">
                    @Html.DisplayFor(modelItem => item.Owner.FullName)
                </td>
                <td class="center">
                    <div class="checkbox checbox-switch switch-primary">
                        <label>
                            <input type="checkbox" name="" checked="@item.IsAproved" value="@item.IsAproved" disabled />
                            <span></span>
                        </label>
                    </div>
                </td>
                <td class="center">
                    <div class="checkbox checbox-switch switch-primary">
                        <label>
                            <input type="checkbox" name="" checked="@item.IsActived" value="@item.IsActived" disabled />
                            <span></span>
                        </label>
                    </div>
                </td>
                <td class="td-options center">
                    <a class="btn btn-xs btn-success" asp-action="Edit" asp-route-id="@item.ComerceId" uk-tooltip="title: Editar datos del comercio"> <span class=" glyphicon glyphicon-edit"></span></a> |
                    <a class="btn btn-xs btn-info " asp-action="Details" asp-route-id="@item.ComerceId" uk-tooltip="title: Detalle del comercio"><span class="glyphicon glyphicon-list"></span></a> |
                    <a class="btn btn-xs  btn-danger " asp-action="Delete" asp-route-id="@item.ComerceId" uk-tooltip="title: Eliminar registro"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>

