﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SaveN' Go - @ViewData["Title"] </title>
    <link runat="server" rel="shortcut icon" href="~/images/sng_logo.png" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/images/sng_logo.png" type="image/ico" />

    <environment include="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/css/semantic.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css" />
        <link href="/css/sng.css" rel="stylesheet" />
        <link href="/css/sng-hovers.css" rel="stylesheet" />
        <link href="~/css/hover.css" rel="stylesheet" />
        <link href="~/css/animate.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />

        <!-- DevExtreme themes -->
        <link rel="stylesheet" type="text/css" href="~/vendor/devextreme/dist/css/dx.common.css" />
        <link rel="stylesheet" type="text/css" href="~/vendor/devextreme/dist/css/dx.light.css" />

    </environment>
</head>
<body>
    @*<nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-inner" style="background-color:transparent;  ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand" style=" ">
                    <img class="uk-border-circle" alt="Brand" width="40" src="~/images/sng_logo.jpg" style="float: left; margin-right: 5px; margin-top: -10px">
                     Save'N Go
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><a asp-area="" asp-controller="Acount" asp-action="Index">Usuarios</a></li>
                    <li><a asp-area="" asp-controller="Owners" asp-action="Index">Comerciantes</a></li>
                    <li><a asp-area="" asp-controller="Comerces" asp-action="Index">Comercios</a></li>
                    <li><a asp-area="" asp-controller="Categories" asp-action="Index">Categorias</a></li>
                    <li><a asp-area="" asp-controller="Cupons" asp-action="Index">Cupones</a></li>
                    <li><a asp-area="" asp-controller="Products" asp-action="Index">Productos</a></li>
                    <li><a asp-area="" asp-controller="Promotions" asp-action="Index">Promociones</a></li>
                    <li><a asp-area="" asp-controller="Vacants" asp-action="Index">Vacantes</a></li>
                    <li><a asp-area="" asp-controller="Royalties" asp-action="Index">Regalias</a></li>

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p> <small>&copy; @DateTime.Now.Year - SaveN' Go</small></p>
        </footer>
    </div>

    <environment include="Development,Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

        <script src="~/js/Comerce.js" asp-append-version="true"></script>
        <script src="~/js/Category.js" asp-append-version="true"></script>
        <script src="~/js/Cupon.js" asp-append-version="true"></script>
        <script src="~/js/Owner.js" asp-append-version="true"></script>
        <script src="~/js/Product.js" asp-append-version="true"></script>
        <script src="~/js/Promotion.js" asp-append-version="true"></script>
        <script src="~/js/Vacant.js" asp-append-version="true"></script>
        <script src="~/js/Royalty.js" asp-append-version="true"></script>
        <script src="~/js/Comment.js" asp-append-version="true"></script>


        <script src="~/js/site.js" asp-append-version="true"></script>

        <script src="~/js/semantic.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit-icons.min.js"></script>
        <script src="~/js/fontawesome-all.js"></script>

        <!-- Reference the JSZip script if you need client-side exporting -->
        <script type="text/javascript" src="~/lib/jszip/dist/jszip.js"></script>

        <!-- A DevExtreme library -->
        <script type="text/javascript" src="~/lib/devextreme/js/dx.all.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
