﻿@model sng_web.Models.Product

<form asp-controller="ProductController" asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UrlImage" class="control-label"></label>
        <input asp-for="UrlImage" class="form-control" />
        <span asp-validation-for="UrlImage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CreatedAt" class="control-label"></label>
        <input asp-for="CreatedAt" class="form-control" />
        <span asp-validation-for="CreatedAt" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="UpdatedAt" class="control-label"></label>
        <input asp-for="UpdatedAt" class="form-control" />
        <span asp-validation-for="UpdatedAt" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label>
                <input asp-for="IsActived" /> @Html.DisplayNameFor(model => model.IsActived)
            </label>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ComerceId" class="control-label"></label>
        <select asp-for="ComerceId" class ="form-control" asp-items="ViewBag.ComerceId"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
</form>
