﻿@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager;
@{
    var userId = _userManager.GetUserId(User);
}

<li class="dropdown user user-menu">
    <!-- Menu Toggle Button -->
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <!-- The user image in the navbar-->
        <img src="@User.GetUserProperty(CustomClaimTypes.AvatarURL)" class="user-image" alt="ui">
        <!-- hidden-xs hides the username on small devices so only the image appears. -->
        <span class="hidden-xs">@User.GetUserProperty(CustomClaimTypes.GivenName) @User.GetUserProperty(CustomClaimTypes.Surname)</span>
    </a>
    <ul class="dropdown-menu">
        <!-- The user image in the menu -->
        <li class="user-header">
            <img src="@User.GetUserProperty(CustomClaimTypes.AvatarURL)" class="img-circle" alt="User Image">
            <p>
                @User.GetUserProperty(CustomClaimTypes.GivenName) @User.GetUserProperty(CustomClaimTypes.Surname)
                - @User.GetUserProperty(CustomClaimTypes.Position)
                <small>Miembro desde @User.GetUserProperty(CustomClaimTypes.DateRegistered)</small>
            </p>
        </li>
        <!-- Menu Body -->
        @*<li class="user-body">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <a href="#">Followers</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">Sales</a>
                    </div>
                    <div class="col-xs-4 text-center">
                        <a href="#">Friends</a>
                    </div>
                </div>
            </li>*@
        <!-- Menu Footer-->
        <li class="user-footer">
            <div class="pull-left">
                <a asp-controller="Account" asp-action="Profile" asp-route-id="@userId" class="btn btn-default btn-flat">Perfil</a>
            </div>
            <div class="pull-right">
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-default btn-flat">Salir</button>
                </form>
            </div>
        </li>
    </ul>
</li>