﻿@model sng_web.Models.AccountViewModels.UserViewModel

@{
    ViewData["Title"] = "Edit";
}

@if (ViewBag.mensaje_ok != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-check"></i>OK!</h4>
        @ViewBag.mensaje_ok
    </div>
}
    <style>
        .box, .nav-tabs-custom {
            border-radius: 0px;
        }
    </style>
<div class="container">
    <h2 class="uk-heading-bullet">Usuario <small>Perfil</small></h2>
    <hr />
</div>
<div class="row">
    <div class="container">
        <div class="col-md-3 ">
            <!-- Profile Image -->
            <div class="box box-primary uk-card-default uk-card-hover">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="@Model.AvatarURL" alt="User profile picture">

                    <h3 class="profile-username text-center">@Model.FirstName @Model.LastName</h3>

                    <p class="text-muted text-center">@Model.Position</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Nick</b> <a class="pull-right">@Model.NickName</a>
                        </li>
                        <li class="list-group-item">
                            <b>Telefono</b> <a class="pull-right">@Model.PhoneNumber</a>
                        </li>
                        <li class="list-group-item">
                            <b>Email</b> <a class="pull-right" href="mailto:@Model.Email">@Model.Email</a>
                        </li>

                    </ul>
                    <a asp-action="List" style="box-shadow: 1px 1px 1px #ffffff" class="uk-button uk-button-small uk-button-default btn-block">
                        <span uk-icon="icon: chevron-left"></span>
                        Regresar
                    </a>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">

            <div class="nav-tabs-custom uk-card-default uk-card-hover">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">Datos Personales</a></li>
                    <li class=""><a href="#timeline" data-toggle="tab" aria-expanded="false">Cambiar Contraseña</a></li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class=""><a href="#resetpass" data-toggle="tab" aria-expanded="false">Resetear Contraseña</a></li>
                    }
                    
                    @*<li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">Roles</a></li>*@
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="activity">
                        <form asp-action="Edit" class="form-horizontal" enctype="multipart/form-data">
                            <input asp-for="Id" type="hidden" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="FirstName" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="NickName" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="NickName" class="form-control" />
                                    <span asp-validation-for="NickName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Position" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input asp-for="Position" class="form-control" />
                                    <span asp-validation-for="Position" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Roles</label>
                                <div class="col-sm-10">
                                    <select asp-for="Roles" asp-items="@(new SelectList(ViewBag.Roles,"Name","Name"))" class="form-control" ></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Comercio</label>
                                <div class="col-sm-10">
                                    <select asp-for="ComerceId" asp-items="@(new SelectList(ViewBag.Comercios,"ComerceId","Name"))" class="form-control" ></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="AvatarURL" class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <div class="uk-margin ">
                                        <ul class="uk-thumbnav" uk-margin>
                                            <li class="uk-active">
                                                <a href="#">
                                                    <img id="ProductUrlLogo" class="img-responsive thumbnail" style="max-width: 250px" src="@Model.AvatarURL" alt="Banner">
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="js-upload" uk-form-custom style="padding: 0px;">
                                            <input asp-for="AvatarURL" type="file" multiple onchange="readURLProduct(this, 'ProductUrlLogo')">
                                            <button class="uk-button uk-button-default" type="button" tabindex="-1">Seleccionar archivo</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="timeline">
                        <form method="post" asp-action="ChangePassword">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input name="Code" type="hidden" />
                            <input type="hidden" name="Email" value="@Model.Email" />
                            <div class="form-group">
                                <label>Contraseña Actual</label>
                                <input name="Password" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Nueva Contraseña</label>
                                <input name="ConfirmPassword" class="form-control" />
                            </div>
                            <button type="submit" class="btn btn-default">Cambiar Contraseña</button>
                        </form>
                    </div>
                    @if (User.IsInRole("Admin")){
                        <div class="tab-pane" id="resetpass">
                            <form method="post" asp-action="ResetPassword">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <input name="Code" type="hidden" />
                                <input type="hidden" name="Email" value="@Model.Email" />
                            
                                <div class="form-group">
                                    <label>Contraseña</label>
                                    <input name="Password" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label>Confirmar Contraseña</label>
                                    <input name="ConfirmPassword" class="form-control" />
                                </div>
                                <button type="submit" class="btn btn-default">Cambiar contraseña</button>
                            </form>
                        </div>
                    }
                    
                    <!-- /.tab-pane -->
                    @*<div class="tab-pane " id="settings">
                        <form>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Guardar Roles</button>
                                </div>
                            </div>
                        </form>
                    </div>*@
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
