﻿@model ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "¿Olvidaste tu contraseña?";
}
<br /><br />
<h2>@ViewData["Title"]</h2>
<h4>Ingresa tu dirección de correo electrónico.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            @if(ViewData["error_message"]!=null)
            {
                <div class="alert alert-danger">
                    @ViewData["error_message"]
                </div>
            }
            <div class="form-group">
                <label asp-for="Email">Correo electrónico</label>
                <input asp-for="Email" class="form-control" placeholder="jhondoe@gmail.com"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
            
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
