﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Confirmación de contraseña renovada";
}
<br /><br />
<h2>@ViewData["Title"]</h2>
<p>
    Por favor, revisa tu correo electrónico para renovar tu contraseña.
    <br />
    Ir a inicio <a href="https://www.savesandgo.com/">https://www.savesandgo.com</a>
</p>
<p>
    
</p>
