﻿
@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager


@{
    ViewData["Title"] = "Log in";
    ViewData["Logo"] = "Save N' Go";

    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> @ViewData["Logo"] | @ViewData["Title"]</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/lib/Ionicons/css/ionicons.css" />
        <link rel="stylesheet" href="~/css/animation.css" />
        <link rel="stylesheet" href="~/css/login.css" />
    </environment>
    <style>
        .authenty.signin-main .title {
            text-align: center;
             margin-bottom: 30px; 
        }
        .authenty.signin-main .wrap {
            padding-top: 30px;
        }
        .authenty.signin-main .form-header {
            padding: 20px 0;
            text-align: center;
             border-radius: 0; 
            background-color: #fff;
        }
    </style>
</head>
<body id="signin_main" class="authenty signin-main" style="background: rgba(193, 189, 186, 0.50)">
    <div class="section-content">
        <div class="wrap">
            <div class="container">
                <div class="form-wrap">
                    <div class="row">
                        <div class="title animated fadeInDown">
                            <h1>@ViewData["Logo"]</h1>
                            <h5>Inicia Sesión</h5>
                        </div>

                        <div>
                            <div class="form-header animated">
                                <img src="~/images/sng_logo.png" alt="adminlte" width="200"/>
                            </div>
                            <div class="form-main">
                                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                    <div class="form-group">
                                        @*<label asp-for="Email" class="col-md-2 control-label"></label>*@
                                        <input asp-for="Email" type="text" placeholder="Correo" class="form-control" />
                                        @*<span asp-validation-for="Email" class="text-danger"></span>*@
                                        @*<label asp-for="Password" class="col-md-2 control-label"></label>*@
                                        <input asp-for="Password" placeholder="Contraseña" class="form-control" />
                                        @*<span asp-validation-for="Password" class="text-danger"></span>*@
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-block signin" type="submit">Entrar</button>
                                        <div>
                                            <div class="checkbox">
                                                <label asp-for="RememberMe" class="text-muted">
                                                    <input asp-for="RememberMe" />
                                                    ¿Recordar contraseña?
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                @*@{
                                    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                                    if (loginProviders.Count > 0)
                                    {
                                        <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                            <div>
                                                <p>
                                                    @foreach (var provider in loginProviders)
                                                    {
                                                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                                    }
                                                </p>
                                            </div>
                                        </form>
                                    }
                                }*@
                            </div>
                            <div class="form-footer">
                                <div class="row">
                                    <div class="col-xs-7">
                                        <i class="fa fa-unlock-alt"></i>
                                        <a asp-action="ForgotPassword">¿Olvidaste tu contraseña?</a>
                                    </div>
                                    <div class="col-xs-5">
                                        <i class="fa fa-check"></i>
                                        <a asp-controller="Comerces" asp-action="Register" class="button-header">Ingresa</a>
                                        @*<a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Registrarse</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <environment names="Development,Staging,Production">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
        <script src="~/js/app.js" asp-append-version="true"></script>
    </environment>
    @section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }
</body>
</html>