﻿@model sng_web.Models.ApplicationUser



<div class="container">
    <h2 class="uk-heading-bullet">Usuario <small>Perfil</small></h2>
    <hr />
</div>
<div class="row">
    <div class="">
        <div class="col-md-3 ">
            <!-- Profile Image -->
            <div class="box box-primary uk-card-default uk-card-hover">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="@Model.AvatarURL" alt="User profile picture">

                    <h3 class="profile-username text-center">@Model.FirstName @Model.LastName</h3>

                    <p class="text-muted text-center">Miembro desde @Model.DateRegistered</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Nombre de Usuario</b> <a class="pull-right">@Model.UserName</a>
                        </li>
                        <li class="list-group-item">
                            <b>Email</b> <a class="pull-right" href="mailto:@Model.Email">@Model.Email</a>
                        </li>
                        <li class="list-group-item">
                            <b>Telefono</b> <a class="pull-right">@Model.PhoneNumber</a>
                        </li>
                    </ul>
                    <a asp-action="List" style="box-shadow: 1px 1px 1px #ffffff" class="uk-button uk-button-small uk-button-default btn-block">
                        <span uk-icon="icon: chevron-left"></span>
                        Regresar
                    </a>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">

            <div class="nav-tabs-custom uk-card-default uk-card-hover">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab" aria-expanded="true">Cuenta de Usuario</a></li>
                    <li class=""><a href="#timeline" data-toggle="tab" aria-expanded="false">Contraseña</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="activity">
                        <form asp-action="EditProfile" class="form-horizontal" enctype="multipart/form-data">
                            <input asp-for="Id" id="Id" type="hidden" />
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="">
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label asp-for="UserName" class="col-sm-2 control-label">Usuario</label>
                                        <div class="col-sm-10">
                                            <input asp-for="UserName" class="form-control" />
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email" class="col-sm-2 control-label">Correo</label>
                                        <div class="col-sm-10">
                                            <input asp-for="Email" class="form-control" />
                                            <span asp-validation-for="Email" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label asp-for="FirstName" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <input asp-for="FirstName" class="form-control" />
                                            <span asp-validation-for="FirstName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="LastName" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <input asp-for="LastName" class="form-control" />
                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="PhoneNumber" class="col-sm-2 control-label">Teléfono</label>
                                        <div class="col-sm-10">
                                            <input asp-for="PhoneNumber" class="form-control" />
                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label asp-for="AvatarURL" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-10">
                                            <div class="uk-margin ">
                                                <ul class="uk-thumbnav" uk-margin>
                                                    <li class="uk-active">
                                                        <a href="#">
                                                            <img id="ProductUrlLogo" class="img-responsive thumbnail" style="max-width: 250px" src="@Model.AvatarURL" alt="Banner">
                                                        </a>
                                                    </li>
                                                </ul>
                                                <div class="js-upload" uk-form-custom style="padding: 0px;">
                                                    <input asp-for="AvatarURL" type="file" multiple onchange="readURLProduct(this, 'ProductUrlLogo')">
                                                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Seleccionar archivo</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10">
                                    <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="timeline">
                        <form method="POST">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input name="Code" type="hidden" />
                            <input type="hidden" name="Email" value="@Model.Email" />
                            <div class="row" id="panel">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Nueva Contraseña</label>
                                        <input type="password" name="Password" id="ChangedPassword" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label>Confirmar Contraseña</label>
                                        <input type="password" name="ConfirmPassword" id="confirmChangedPassword" class="form-control" />
                                        <span id="message" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="loadpanel"></div>
                            <button type="button" onclick="user.checkConfirmPassword()" class="uk-button uk-button-primary uk-button-small"><span uk-icon="icon: refresh"></span> Cambiar Contraseña</button>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    </script>
}