﻿@model sng_web.Models.TasaCambio

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TasaCambio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre_Banco)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre_Banco)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Compra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Compra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Venta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
