﻿@model sng_web.Models.TasaCambio

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h2 class="uk-heading-bullet">Editar <small>Tasa de Cambio</small></h2>
    <hr />
</div>

<div class="container">
    <div class="uk-card-default uk-card-hover">
        <div class="uk-section uk-section-default ">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />

                <div class="uk-container">
                    <h3>Reemplazar los campos a editar</h3>
                    <div class="row">
                        <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                            <div>
                                <div class="form-group">
                                    <label asp-for="Nombre_Banco" class="control-label"></label>
                                    <input asp-for="Nombre_Banco" class="form-control" />
                                    <span asp-validation-for="Nombre_Banco" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Compra" class="control-label"></label>
                                    <input asp-for="Compra" class="form-control" />
                                    <span asp-validation-for="Compra" class="text-danger"></span>
                                </div>
                            </div>

                            <div>
                                <div class="form-group">
                                    <label asp-for="Fecha" class="control-label"></label>
                                    <input asp-for="Fecha" class="form-control" />
                                    <span asp-validation-for="Fecha" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Venta" class="control-label"></label>
                                    <input asp-for="Venta" class="form-control" />
                                    <span asp-validation-for="Venta" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="container">
                            <input type="hidden" value="@ViewBag.Refer" name="Refer" />
                            <div class="form-group">
                                <a href="@ViewBag.Refer" class="uk-button uk-button-default uk-button-small">
                                    <span uk-icon="icon: chevron-left"></span>
                                    Regresar
                                </a>  |
                                <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
 @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
