﻿@model IEnumerable<sng_web.Models.TasaCambio>

@{
    ViewData["Title"] = "Index";
}
<style>
    .uk-margin-small-right {
        margin-right: 5px !important;
        margin-left: 5px !important;
    }
</style>

<div class="container">
    <h2 class="uk-heading-bullet">Tasa de Cambios <small>Registros</small></h2>
    <hr />
</div>

<div class="container">
    <div class="container uk-card-default uk-card-hover">
        <div class="row">
            <div class="box">
                <div class="box-header with-border">
                    <div class="pull-left">
                        <div class="uk-display-inline">
                            <h3 class="box-title">Bancos Registrados</h3>

                        </div>
                    </div>
                    <div class="pull-right">
                        <div class="uk-display-inline">
                            <a class="uk-button uk-button-primary uk-button-small" asp-action="Create">
                                <span uk-icon="icon: plus"></span> Nuevo
                            </a>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <table class="uk-table uk-table-striped uk-table-small uk-table-responsive uk-table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre_Banco)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Compra)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Venta)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Fecha)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre_Banco)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Compra)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Venta)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.ID"><span class="uk-margin-small-right" uk-icon="pencil"></span></a> |  
                                @*<a asp-action="Details" asp-route-id="@item.ID"><span class="uk-margin-small-right" uk-icon="table"></span></a>  | *@
                                <a asp-action="Delete" asp-route-id="@item.ID"><span class="uk-margin-small-right" uk-icon="trash"></span></a>
                            </td>
                        </tr>
            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


