﻿@model sng_web.Models.Cupon

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cupon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Validity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Validity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoneyValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoneyValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsChanged)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsChanged)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComerceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComerceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CuponId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
