﻿@model sng_web.Models.Cupon

@{
    ViewData["Title"] = "Edit";
}
<div class="container">
    <h2 class="uk-heading-bullet">Editar <small>Cupón</small></h2>
    <hr />
</div>
<div class="row">
    <div class="container">
        <div class="">
            <div class="uk-card-default uk-card-hover">
                <div class="uk-section uk-section-default ">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CuponId" />

                        <div class="uk-container">

                            <h3>Reemplazar los campos a editar</h3>

                            <div class="row">
                                <div class="col-sm-8">
                                    <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                                        <div>
                                            <div class="form-group">
                                                <label asp-for="Descount" class="control-label"></label>
                                                <div class="input-group">
                                                    <input asp-for="Descount" id="Descount" class="form-control" />
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                                <span asp-validation-for="Descount" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Validity" class="control-label"></label>
                                                <div class="input-group">
                                                    <input asp-for="Validity" type="number" min="0" max="99999" class="form-control" />
                                                    <span class="input-group-addon">Diaz</span>
                                                </div>
                                                <span asp-validation-for="Validity" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="MoneyValue" class="control-label"></label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">C$</span>
                                                    <input asp-for="MoneyValue" class="form-control" />
                                                </div>
                                                <span asp-validation-for="MoneyValue" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="form-group">
                                                <label asp-for="CreatedAt" class="control-label" ></label>
                                                <input asp-for="CreatedAt" class="form-control" disabled />
                                                <span asp-validation-for="CreatedAt" class="text-danger" ></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="UpdatedAt" class="control-label" ></label>
                                                <input asp-for="UpdatedAt" class="form-control" disabled/>
                                                <span asp-validation-for="UpdatedAt" class="text-danger" ></span>
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox checbox-switch switch-primary">
                                                    <br /><br />
                                                    <label class="pull-left">
                                                        <input asp-for="isActive" /> @Html.DisplayNameFor(model => model.isActive)
                                                        <span></span>
                                                    </label>
                                                    <label class="pull-right">
                                                        <input asp-for="IsChanged" /> @Html.DisplayNameFor(model => model.IsChanged)
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>

                                            @*hidden fields*@
                                            <div class="form-group">
                                                <label asp-for="ComerceId" class="control-label" hidden></label>
                                                <input asp-for="ComerceId" class="form-control" hidden />
                                                <span asp-validation-for="ComerceId" class="text-danger" hidden></span>
                                            </div> 
                                            
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="container">
                                    <div class="form-group">
                                        <input type="hidden" value="@ViewBag.Refer" name="Refer" />
                                        <a href="@ViewBag.Refer" class="uk-button uk-button-default uk-button-small">
                                            <span uk-icon="icon: chevron-left"></span>
                                            Regresar
                                        </a>  |
                                        <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        setPercentField($("#Descount"));
        function back() {
                window.history.back();
        }
    </script>
}
