﻿@model IEnumerable<sng_web.Models.Cupon>

@{
    ViewData["Title"] = "Index";
}
<h2 class="container uk-heading-bullet">Cupones <small>Registros</small></h2>
<div class="container">
    <div class="container uk-card-default uk-card-hover">
        <div class="row">
            <br />
            <div class="container">
                <div class="pull-right">
                    <div class="uk-display-inline">
                        <button class="uk-button uk-button-small uk-button-default" onclick="loadCuponsTable('getAll');"> <span uk-icon="icon: refresh"></span></button> |
                        <a class="uk-button uk-button-primary uk-button-small" asp-action="Create">
                            <span uk-icon="icon: plus"></span> Nuevo
                        </a>
                    </div>
                </div><br /><br />
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div id="table_cupons"></div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div id="new_cupon" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Nuevo Cupón</h2>
            </div>
            <div class="uk-modal-body">
                <form>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: tag"></span>
                            <input class="uk-input" type="number" name="CuponDescount" id="CuponDescount" placeholder="Descuento del cupón" />
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: tag"></span>
                            <input class="uk-input" type="number" name="CuponValidity" id="CuponValidity" placeholder="Validez del cupón" />
                        </div>
                    </div>

                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: tag"></span>
                            <input class="uk-input" type="number" name="CuponMoneyValue" id="CuponMoneyValue" placeholder="Valor monetario del cupón" />
                        </div>
                    </div>
                    <div class="uk-margin">
                        <select onClick='' id='ComerceId' class='ui fluid search dropdown'>
                            <option value="0" disabled> -Seleccionar un Comercio- </option>
                        </select>
                    </div>
                </form>
            </div>

            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                <button class="uk-button uk-button-primary" type="button" onclick="addCupon()">Crear</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div id="popup_cupons"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //load tables details from comerce
        loadCuponsTable("getAll");

        

        function getComerces() {
            var select_comerce = $("#ComerceId");
            $.ajax({
                type: "GET",
                url: "/Comerces/GetOnlyComerces",
                data: {},
                success: function (response) {
                    json_comerce = (response);
                    select_comerce.html("");
                    select_comerce.append("<option value='0' disabled>" + " -Seleccionar un Comercio- " + "</option>");

                    $.each(json_comerce, (index, value) => {
                        select_comerce.append("<option value=" + value.comerceId + ">" + value.name + "</option>");
                    });
                },
                error: function (err) {
                    console.log("Error: ");
                }
            });
            //console.log("json_comerce");
            //console.log(json_comerce);
        }

    </script>
}


