﻿@model IEnumerable<sng_web.Models.Royalty>

@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2 class="uk-heading-bullet">Regalias <small>Registros</small></h2>
    <hr />
</div>

<div class="container">
    <div class="container uk-card-default uk-card-hover">
        <div class="row">
            <br />
            <div class="container">
                <div class="pull-right">
                    <div class="uk-display-inline">
                        <button class="uk-button uk-button-small uk-button-default" onclick="loadRoyaltyTable('getAll');"> <span uk-icon="icon: refresh"></span></button> |
                        <a class="uk-button uk-button-primary uk-button-small" asp-action="Create">
                            <span uk-icon="icon: plus"></span> Nuevo
                        </a>
                    </div>
                </div><br /><br />
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div id="table_royalties"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="container">
        <div id="popup_royalties"></div>
    </div>
</div>

<div class="row">
    <br />
</div> 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
        loadRoyaltiesTable("getAll");

</script>
}
