﻿@model sng_web.Models.VacantAplication

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Create</h2>

<h4>VacantAplication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AplicationDate" class="control-label"></label>
                <input asp-for="AplicationDate" class="form-control" />
                <span asp-validation-for="AplicationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="control-label"></label>
                <input asp-for="Comments" class="form-control" />
                <span asp-validation-for="Comments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacantId" class="control-label"></label>
                <select asp-for="VacantId" class ="form-control" asp-items="ViewBag.VacantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="UrlCurriculum" class="control-label"></label>
                <input asp-for="UrlCurriculum" class="form-control" />
                <span asp-validation-for="UrlCurriculum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Reviewed" /> @Html.DisplayNameFor(model => model.Reviewed)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Response" class="control-label"></label>
                <input asp-for="Response" class="form-control" />
                <span asp-validation-for="Response" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
