﻿@model IEnumerable<sng_web.Models.VacantAplication>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Aplicaciones a vacantes</h2>

@*
    A las vacantes solo se puede aplicar desde la aplicacion
    <p>
    <a asp-action="Create">Create New</a>
</p>*@

    <div class="box">
        <div class="box-header with-border">
            <div class="callout callout-info">
                <h3 style="color:white">Vacantes</h3>
                <p>Aplicaciones a vacantes publicadas por el comercio.</p>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        @if (User.IsInRole("Admin"))
    {
                    <th>
                        @Html.DisplayNameFor(model => model.Vacant.Comerce.Name)
                    </th>
}
                        <th>
                            @Html.DisplayNameFor(model => model.Vacant)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Applicant)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AplicationDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UrlCurriculum)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Reviewed)
                        </th>

                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
            {
                    <tr>
                        @if (User.IsInRole("Admin"))
    {
                    <td>
                        @Html.DisplayFor(modelItem => item.Vacant.Comerce.Name)
                    </td>
}
                        <td>
                            @Html.DisplayFor(modelItem => item.Vacant.Name)
                        </td>
                        <th class="text-left">
                            <span class="text-green">@item.Applicant</span>
                            <br />
                            Telefono: @item.ApplicantPhone Email: <a href="mailto:@item.ApplicantEmail">@item.ApplicantEmail</a> 

                        </th>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.AplicationDate)
                        </td>
                        <td class="text-center">
                            @if (item.UrlCurriculum != null)
        {
                    <a href="@item.UrlCurriculum">Adjunto</a>

}
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Reviewed)
                        </td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.VacantAplicationId">Ver mas</a> 
                        </td>
                    </tr>
    }
                </tbody>
            </table>

        </div>
    </div>

