﻿<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        ¡Donde encuentras todo lo que buscas!
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; @DateTime.Now.Year <a href="#">Save N' Go</a>.</strong> Todos los derechos reservados.
</footer>