﻿@model sng_web.Models.Category
@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h2 class="uk-heading-bullet">Nueva <small>Categoria</small></h2>
    <hr />
</div>

<div class="row">
    <div class="container">
        <div class="uk-card-default uk-card-hover">
            <div class="uk-section uk-section-default ">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="uk-container">
                        <h3>Agregar Nuevo Registro</h3>

                        <div class="row">
                            <div class="container col-md-4 col-sm-12">
                                <div class="uk-grid-match" uk-grid>
                                    <div>
                                        <div class="form-group">
                                            <label asp-for="Name" class="control-label"></label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Icon" class="control-label"></label>
                                            <div class="input-group iconpicker-container">
                                                <input asp-for="Icon" data-placement="bottomRight" class="form-control icp icp-auto iconpicker-element iconpicker-input" 
                                                       value="fas fa-archive" type="text" />
                                                <span class="input-group-addon"><i class="fas fa-archive"></i></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="checkbox checbox-switch switch-primary">
                                                <label>
                                                    <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                                    <span></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="container">
                                <div class="form-group">
                                    <a asp-action="Index" class="uk-button uk-button-default uk-button-small">
                                        <span uk-icon="icon: chevron-left"></span>
                                        Regresar
                                    </a>  |
                                    <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>

        // Create instance if not exists (returns a jQuery object)
        $('.icp').iconpicker();
        $('.icp').iconpicker({
            /*options*/
            title: 'With custom options',
            icons: [
                {
                    title: "fab fa-github",
                    searchTerms: ['repository', 'code']
                },
                {
                    title: "fas fa-heart",
                    searchTerms: ['love']
                },
                {
                    title: "fab fa-html5",
                    searchTerms: ['web']
                },
                {
                    title: "fab fa-css3",
                    searchTerms: ['style']
                }
            ],
            selectedCustomClass: 'label label-success',
            mustAccept: true,
            placement: 'bottomRight',
            showFooter: true,
        }); // you can also specify options via data-* attributes


    </script>

}
