﻿@model sng_web.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h2 class="uk-heading-bullet">Eliminar <small>Categoria</small></h2>
    <hr />
</div>

<div class="container">
    <div class="row uk-card uk-card-default uk-card-hover uk-grid-collapse ">
        <div class="container" style="margin: 30px">
            <div class="uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container">
                    <div class="uk-card-body">
                        <h3 class="uk-card-title"> Categoria <small>@Html.DisplayFor(model => model.Name)</small></h3>
                        <dl class="uk-description-list col-sm-6">
                            <dt>
                                @Html.DisplayNameFor(model => model.Icon)
                            </dt>
                            <dd>
                                <br />
                                <i class='picker-target fa-5x undefined " + @Model.Icon +"'></i>
                            </dd>
                        </dl>
                        <dl class="uk-description-list col-sm-6">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.IsActive)
                            </dt>
                            <dd>
                                <div class="form-group">
                                    <div class="checkbox checbox-switch switch-primary">
                                        <label>
                                            <input asp-for="IsActive" disabled />
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </dd>
                        </dl>

                    </div>
                </div>

                <div>
                </div>
            </div>
        </div>
        <div class="container" style="margin: 30px">
            <form asp-action="Delete">
                <input type="hidden" asp-for="CategoryId" />
                <a asp-action="Index" class="uk-button uk-button-default uk-button-small"><span uk-icon="icon: chevron-left"></span> Regresar</a>  |
                <button type="submit" class="uk-button uk-button-danger uk-button-small"><span uk-icon="icon: trash"></span>Eliminar</button>
            </form>
        </div>
    </div>
</div>

