﻿@model sng_web.Models.Category

@{
    ViewData["Title"] = "Edit";

    var UrlImage = @Model.UrlImage != null ? Model.UrlImage : "/images/product.jpg";
}
<div class="container">
    <h2 class="uk-heading-bullet">Editar <small>Categoria</small></h2>
    <hr />
</div>

<div class="row">
    <div class="container">
        <div class="">
            <div class="uk-card-default uk-card-hover">
                <div class="uk-section uk-section-default ">
                    <form asp-action="Edit" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="CategoryId" />
                        <div class="uk-container">
                            <h3>Reemplazar los campos a editar</h3>

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="uk-grid-match" uk-grid>
                                        <div>
                                            <div class="form-group">
                                                <label asp-for="Name" class="control-label"></label>
                                                <input asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>


                                            <div class="form-group">
                                                <label asp-for="Icon" class="control-label"></label>
                                                <div class="input-group iconpicker-container">
                                                    <input asp-for="Icon" data-placement="bottomRight" class="form-control icp icp-auto iconpicker-element iconpicker-input" type="text" />
                                                    <span class="input-group-addon"><i class="fas fa-archive"></i></span>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="checkbox checbox-switch switch-primary">
                                                    <label>
                                                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="uk-margin ">
                                        <ul class="uk-thumbnav" uk-margin>
                                            <li class="uk-active">
                                                <a href="#">
                                                    <img id="CategoryUrlLogo" class="img-responsive thumbnail" style="max-width: 250px" src="@UrlImage" alt="Banner">
                                                    @*<p>@UrlImage</p>*@
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="js-upload" uk-form-custom style="padding: 20px;">
                                            <input asp-for="UrlImage" id="CategoryUrlLogo" type="file" multiple onchange="readURLProduct(this, 'CategoryUrlLogo')">
                                            <input asp-for="UrlImage" value="@Model.UrlImage" type="text" hidden>
                                            <button class="uk-button uk-button-default" type="button" tabindex="-1">Seleccionar imagen</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="container">
                                    <div class="form-group">
                                        <a asp-action="Index" class="uk-button uk-button-default uk-button-small">
                                            <span uk-icon="icon: chevron-left"></span> Regresar
                                        </a>  |
                                        <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>

        // Create instance if not exists (returns a jQuery object)
        $('.icp').iconpicker();
        $('.icp').iconpicker({
            /*options*/
            title: 'With custom options',
            icons: [
                {
                    title: "fab fa-github",
                    searchTerms: ['repository', 'code']
                },
                {
                    title: "fas fa-heart",
                    searchTerms: ['love']
                },
                {
                    title: "fab fa-html5",
                    searchTerms: ['web']
                },
                {
                    title: "fab fa-css3",
                    searchTerms: ['style']
                }
            ],
            selectedCustomClass: 'label label-success',
            mustAccept: true,
            placement: 'bottomRight',
            showFooter: true,
        }); // you can also specify options via data-* attributes


    </script>

}
