﻿<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>SNG</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Save N' </b>Go</span>
    </a>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                @await Component.InvokeAsync("MenuMessage")
                <!-- /.messages-menu -->
                <!-- Notifications Menu -->
                @*@await Component.InvokeAsync("MenuNotification")*@
                <!-- Tasks Menu -->
                @*@await Component.InvokeAsync("MenuTask")*@
                <!-- User Account Menu -->
                @await Component.InvokeAsync("MenuUser")
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-question-circle"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</header>