﻿@model sng_web.Models.Vacant
@{
    ViewData["Title"] = "Create";
}
<div class="container">
    <h2 class="uk-heading-bullet">Nueva <small>Vacante</small></h2>
    <hr />
</div>
<div class="container">
    <div class="uk-card-default uk-card-hover">
        <div class="uk-section uk-section-default ">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="uk-container">
                    <h3>Agregar Nuevo Registro</h3>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="uk-grid-match uk-child-width-1-4@m uk-child-width-1-2@s" uk-grid>
                                <div>
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <input asp-for="Description" class="form-control" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Area" class="control-label"></label>
                                        <input asp-for="Area" class="form-control" />
                                        <span asp-validation-for="Area" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Cargo" class="control-label"></label>
                                        <input asp-for="Cargo" class="form-control" />
                                        <span asp-validation-for="Cargo" class="text-danger"></span>
                                    </div>
                                    
                                </div>

                                <div>
                                    <div class="form-group">
                                        <label asp-for="AvailableVacants" class="control-label"></label>
                                        <input asp-for="AvailableVacants" class="form-control" />
                                        <span asp-validation-for="AvailableVacants" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="schedule" class="control-label"></label>
                                        <input asp-for="schedule" class="form-control" />
                                        <span asp-validation-for="schedule" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Experience" class="control-label"></label>
                                        <input asp-for="Experience" class="form-control" />
                                        <span asp-validation-for="Experience" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Genre" class="control-label"></label>
                                        <input asp-for="Genre" class="form-control" />
                                        <span asp-validation-for="Genre" class="text-danger"></span>
                                    </div>
                                </div>

                                <div>
                                    <div class="form-group">
                                        <label asp-for="Age" class="control-label"></label>
                                        <input type="number" max="100" min="15" asp-for="Age" class="form-control" />
                                        <span asp-validation-for="Age" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="MaxSalary" class="control-label"></label>
                                        <input asp-for="MaxSalary" class="form-control" />
                                        <span asp-validation-for="MaxSalary" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="MinSalary" class="control-label"></label>
                                        <input asp-for="MinSalary" class="form-control" />
                                        <span asp-validation-for="MinSalary" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Department" class="control-label"></label>
                                        <input asp-for="Department" class="form-control" />
                                        <span asp-validation-for="Department" class="text-danger"></span>
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group">
                                        <label asp-for="Country" class="control-label"></label>
                                        <input asp-for="Country" class="form-control" value="Nicaragua"/>
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox checbox-switch switch-primary">
                                            <label>
                                                <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <br />
                                    </div>
                                    <div>
                                        <br />
                                    </div>
                                    <div>
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>


                    </div>
                    <hr />
                    <div class="row">
                        <div class="container">
                            <div class="form-group">
                                <a asp-action="Index" class="uk-button uk-button-default uk-button-small">
                                    <span uk-icon="icon: chevron-left"></span>
                                    Regresar
                                </a>  |
                                <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
