﻿@model sng_web.Models.Vacant

@{
    ViewData["Title"] = "Delete";
}
<h2 class="uk-heading-bullet">¿Eliminar el registro?</h2>
<hr />
<div class="container">
    <div class="row uk-card uk-card-default uk-card-hover">
        <div class="container" style="margin: 0px">
            <div class="col-sm-10">

                <div class="uk-card-body">
                    <h3 class="uk-card-title"> <strong>Vacante: </strong> @Html.DisplayFor(model => model.Name)</h3>

                    <div class="uk-grid-match uk-child-width-1-4@m" uk-grid>
                        <div>
                           <dl class="uk-description-list ">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Description)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Description)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Area)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Area)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Cargo)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Cargo)
                                </dd>
                                
                                <dt>
                                    @Html.DisplayNameFor(model => model.AvailableVacants)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.AvailableVacants)
                                </dd>
                            </dl>
                        </div>

                        <div>
                            <dl class="uk-description-list ">
                                <dt>
                                    @Html.DisplayNameFor(model => model.schedule)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.schedule)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.Experience)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Experience)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Age)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Age)
                                </dd>
                            </dl>
                        </div>

                        <div>
                            <dl class="uk-description-list" >
                                <dt>
                                    @Html.DisplayNameFor(model => model.Genre)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Genre)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.MaxSalary)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.MaxSalary)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.MinSalary)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.MinSalary)
                                </dd>
                            </dl>
                        </div>

                        <div>
                            <dl class="uk-description-list ">
                                <dt>
                                    @Html.DisplayNameFor(model => model.Department)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Department)
                                </dd>
                                <dt>
                                    @Html.DisplayNameFor(model => model.Country)
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Country)
                                </dd>

                                <dt>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </dt>
                                <dd>
                                    <div class="form-group">
                                        <div class="checkbox checbox-switch switch-primary">
                                            <label>
                                                <input asp-for="IsActive" disabled/>
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </dd>
                               
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" style="margin: 0px">
        <hr />
        <form asp-action="Delete">
            <input type="hidden" asp-for="ComerceId" />
            <input type="hidden" value="@ViewBag.Refer" name="Refer" />
            <a href="@ViewBag.Refer" class="uk-button uk-button-default uk-button-small"><span uk-icon="icon: chevron-left"></span> Regresar</a>  |
            <button type="submit" class="uk-button uk-button-danger uk-button-small"><span uk-icon="icon: trash"></span>Eliminar</button>
        </form>
            <br /><br />
                
        </div>
    </div>
</div>








