﻿@model IEnumerable<sng_web.Models.Vacant>
@{
    ViewData["Title"] = "Index";
}
<h2 class="container uk-heading-bullet">Vacantes <small>Registros</small></h2>
<div class="container">
    <div class="container uk-card-default uk-card-hover">
        <div class="row">
            <br />
            <div class="container">
                <div class="pull-right">
                    <div class="uk-display-inline">
                        <button class="uk-button uk-button-small uk-button-default" onclick="loadVacantsTable('getAll');"> <span uk-icon="icon: refresh"></span></button> |
                        <a class="uk-button uk-button-primary uk-button-small" asp-action="Create">
                            <span uk-icon="icon: plus"></span> Nuevo
                        </a>
                    </div>
                </div><br /><br />
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div id="table_vacants"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="new_vacant" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Nueva Vacante</h2>
            </div>
            <div class="uk-modal-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-sm-6">
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: tag"></span>
                                <input class="uk-input" type="text" name="VacantName" id="VacantName" placeholder="Vacante" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: tag"></span>
                                <input class="uk-input" type="text" name="VacantDescription" id="VacantDescription" placeholder="Descripcion de la vacante" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: tag"></span>
                                <input class="uk-input" type="text" name="VacantArea" id="VacantArea" placeholder="Area del cargo" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: tag"></span>
                                <input class="uk-input" type="text" name="VacantCargo" id="VacantCargo" placeholder="Cargo a desempeñar" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: tag"></span>
                                <input class="uk-input" type="number" name="VacantAvailableVacants" id="VacantAvailableVacants" placeholder="Vacantes disponibles" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: tag"></span>
                                <input class="uk-input" type="text" name="VacantExperience" id="VacantExperience" value="Ninguna experiencia" placeholder="Experiencia necesaria" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: tag"></span>
                                <input class="uk-input" type="number"  min="15" max="60" name="VacantAge" id="VacantAge" placeholder="Edad minima" />
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: tag"></span>
                                <input class="uk-input" type="number" min="0" name="VacantMaxSalary" id="VacantMaxSalary" placeholder="Salario Maximo" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: tag"></span>
                                <input class="uk-input" type="number" min="0" name="VacantMinSalary" id="VacantMinSalary" placeholder="Salario Minimo" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <select onClick='' id='VacantGenre' class='ui fluid search dropdown'>
                                <option value="1" selected> Masculino </option>
                                <option value="2"> Femenino </option>
                            </select>
                        </div>

                        <div class="uk-margin">
                            <select onClick='' id='Vacantschedule' class='ui fluid search dropdown'>
                                <option value="1" selected> Tiempo completo </option>
                                <option value="2"> Medio tiempo </option>
                                <option value="2"> Horario por turnos </option>
                            </select>
                        </div>

                        <div class="uk-margin">
                            <select onClick='' id='VacantDepartment' class='ui fluid search dropdown'>
                                <option value="1" selected> Managua </option>
                                <option value="2"> Masaya </option>
                                <option value="3"> León </option>
                                <option value="4"> Chinandega </option>
                                <option value="5"> Bocaco </option>
                                <option value="6"> Chontales </option>
                                <option value="7"> Estelí </option>
                                <option value="8"> Granada </option>
                                <option value="9"> Jinotega </option>
                                <option value="10"> Madríz </option>
                                <option value="11"> Matagalpa </option>
                                <option value="12"> Nueva Segovia </option>
                                <option value="13"> Rivas </option>
                                <option value="14"> Carazo </option>
                                <option value="14"> Rio San Juan </option>
                            </select>
                        </div>

                        <div class="uk-margin">
                            <select onClick='' id='VacantCountry' class='ui fluid search dropdown'>
                                <option value="1" selected> Nicaragua </option>
                            </select>
                        </div>

                        <div class="uk-margin">
                            <select onClick='' id='ComerceId' class='ui fluid search dropdown'>
                                <option value="0" disabled> -Seleccionar un Comercio- </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                <button class="uk-button uk-button-primary" type="button" onclick="addVacant()">Crear</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div id="popup_vacants"></div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        //load tables details from comerce
        loadVacantsTable("getAll");

        function getComerces() {
            var select_comerce = $("#ComerceId");
            $.ajax({
                type: "GET",
                url: "/Comerces/GetOnlyComerces",
                data: {},
                success: function (response) {
                    json_comerce = (response);
                    select_comerce.html("");
                    select_comerce.append("<option value='0' disabled>" + " -Seleccionar un Comercio- " + "</option>");

                    $.each(json_comerce, (index, value) => {
                        select_comerce.append("<option value=" + value.comerceId + ">" + value.name + "</option>");
                    });
                },
                error: function (err) {
                    console.log("Error: ");
                }
            });
            //console.log("json_comerce");
            //console.log(json_comerce);
        }

    </script>
}



