﻿@model sng_web.Models.Promotion

@{
}
<h2 class="container uk-heading-bullet">Nueva Promoción</h2>
<hr />
<div class="container">
    <div class="uk-card-default uk-card-hover">
        <div class="uk-section uk-section-default ">

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="uk-container">
                    <h3>Agregar Nuevo Registro</h3>

                    <div class="row">
                        <div class="col-md-10">
                            <div class="uk-grid-match uk-child-width-1-2@m" uk-grid>
                                <div>
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <input asp-for="Description" class="form-control" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Descount" class="control-label"></label>
                                        <div class="input-group">
                                            <input asp-for="Descount" onchange="" id="percent" class="form-control" />
                                            <span class="input-group-addon"><strong>%</strong></span>
                                        </div>
                                        <span asp-validation-for="Descount" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ProductId" class="control-label">Asignar producto</label>
                                        <select asp-for="ProductId" class="ui fluid search dropdown" asp-items="ViewBag.ProductId">
                                            <option value="0" disabled> -Seleccionar un Producto- </option>
                                        </select>
                                        <span asp-validation-for="ProductId" class="text-danger"></span>
                                    </div>
                                </div>

                                <div>
                                    <div class="form-group">
                                        <br />
                                        <div class="checkbox checbox-switch switch-primary">
                                            <label>
                                                <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="StartAt" class="control-label"></label>
                                        <input asp-for="StartAt"  type="date" class="form-control" />
                                        <span asp-validation-for="StartAt" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="EndAt" class="control-label"></label>
                                        <input asp-for="EndAt" class="form-control" />
                                        <span asp-validation-for="EndAt" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Asignar Comercio</label>
                                        <select asp-for="ComerceId" class="ui fluid search dropdown" asp-items="ViewBag.ComerceId">
                                            <option value="0" disabled> -Seleccionar un Comercio- </option>
                                        </select>
                                        <span asp-validation-for="ComerceId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="container">
                            <div class="form-group">
                                <a asp-action="Index" class="uk-button uk-button-default uk-button-small">
                                    <span uk-icon="icon: chevron-left"></span>
                                    Regresar
                                </a>  |
                                <button class="uk-button uk-button-primary uk-button-small" type="submit"><span uk-icon="icon: check"></span> Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        setPercentField($("#percent"));
    </script>



}





