﻿@model sng_web.Models.Promotion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Promotion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PromotionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
