﻿@model IEnumerable<sng_web.Models.Promotion>

@{
    ViewData["Title"] = "Index";
}
<style>
    *+address, *+dl, *+fieldset, *+figure, *+ol, *+p, *+pre, *+ul {
        margin-top: 0px; 
    }
</style>
<div class="container">
    <h2 class="uk-heading-bullet">Promociones <small>Registros</small></h2>
    <hr />
</div>
<div class="container">
    <div class="container uk-card-default uk-card-hover">
        <div class="row">
            <br />
            <div class="container">
                <div class="pull-right">
                    <div class="uk-display-inline">
                        <button class="uk-button uk-button-small uk-button-default" onclick="loadPromotionsTable('getAll');"> <span uk-icon="icon: refresh"></span></button> |
                        <a class="uk-button uk-button-primary uk-button-small" asp-action="Create">
                            <span uk-icon="icon: plus"></span> Nuevo
                        </a>
                    </div>
                </div><br /><br />
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div id="table_promotions"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div id="popup_promotion"></div>

    <div id="new_promotion" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Nueva Promoción</h2>
            </div>
            <div class="uk-modal-body">
                <form>
                    <div class="col-sm-6">

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: tag"></span>
                                <input class="uk-input" type="text" name="PromotionName" id="PromotionName" placeholder="Nombre de la promoción" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: tag"></span>
                                <input class="uk-input" type="number" name="PromotionDescount" id="PromotionDescount" placeholder="Descuento de la promoción" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="">
                                <textarea rows="5" cols="10" class="form-control" maxlength="400" name="PromotionDescription" id="PromotionDescription" placeholder="Descripción de la promoción"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">

                        <div class="uk-margin">
                            <div class="uk-inline">
                                @*<span class="uk-form-icon" uk-icon="icon: tag"></span>*@
                                <input value="@DateTime.Now" class="uk-input" type="date" name="PromotionStartAt" id="PromotionStartAt" placeholder="Inicio de la promoción" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class="uk-inline">
                                @*<span class="uk-form-icon" uk-icon="icon: tag"></span>*@
                                <input value="@DateTime.Now" asp-format="{0:MM/dd/yyyy}" class="uk-input" type="date" name="PromotionEndAt" id="PromotionEndAt" placeholder="Final de la promoción" />
                            </div>
                        </div>

                        <div class="uk-margin">
                            <div class='form-group'>
                                <select onClick='' id='PromotionProductId' class='ui fluid search dropdown'>
                                    <option value="0" disabled> -Seleccionar un Producto- </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                <button class="uk-button uk-button-primary" type="button" onclick="addPromotion()">Crear</button>
            </div>
        </div>
    </div>

</div>


<div class="row">
    <div id="popup_promotions"></div>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        loadPromotionsTable("getAll");

        function getComerces() {
            var select_comerce = $("#ComerceId");
            $.ajax({
                type: "GET",
                url: "/Comerces/GetOnlyComerces",
                data: {},
                success: function (response) {
                    json_comerce = (response);
                    select_comerce.html("");
                    select_comerce.append("<option value='0' disabled>" + " -Seleccionar un Comercio- " + "</option>");

                    $.each(json_comerce, (index, value) => {
                        select_comerce.append("<option value=" + value.comerceId + ">" + value.name + "</option>");
                    });
                },
                error: function (err) {
                    console.log("Error: ");
                }
            });
            //console.log("json_comerce");
            //console.log(json_comerce);
        }
        
    </script>
}

