﻿dd{}@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond);
@import url(https://fonts.googleapis.com/css?family=Advent+Pro|Cormorant+Garamond);
.comerceName {
    font-family: 'Cormorant Garamond', Verdana, Geneva, Tahoma, sans-serif;
    /*background-color: #f7f7f7;*/
    background: linear-gradient(to bottom right, rgba(23, 162, 184, 10), #FFF);
    font-size: 35px !important;
    font-style: italic;
    text-align: center;
    padding: 7px 10px;
    margin-top: 0;
}
.date {
    font-family: 'Advent Pro', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    /*padding-top: 50px;*/
    padding-bottom: 0px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
select.ui.dropdown {
    height: 34px;
    padding: .5em;
    border: 1px solid rgba(34,36,38,.15);
    visibility: visible;
    /*margin-bottom:5px;*/
}
.uk-section {
    padding-top: 10px;
    padding-bottom: 10px;
}
.uk-heading-bullet {
    position: relative;
    padding-top: 0px;
}
.uk-border-squart{
    border-radius: 1px;
    border: 1px solid #b5b5b5;
}
.uk-card-media-top > img{
    /*max-height: 300px;*/
    /*width: 100%;*/
}
.uk-card-body {
    padding: 10px 10px;
}
dd {
    text-align: justify;
}
.tab-pane {
    padding: 20px;
    /*width: 100%;*/
    max-height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    /*height: 45px;*/
}

.tab-content {
    padding: 10px
}

.card {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    margin-bottom: 30px;
}

.logo-comerce {
    max-width: 40%;
    max-height: 40%;
    padding: 10px;
    top: 100px;
    left: 130px;
}

.banner-comerce {
    /*border: 1px solid #333;*/
    padding: 5px;
    background-image: url(/images/no-image.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: unset;
    z-index: 1 !important;
}

.expand {
    padding: 10px !important;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*config tab*/
/*..................................................................*/
/*.nav-tabs {
    border-bottom: 2px solid #DDD;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
border-width: 0;
}

.nav-tabs > li > a {
border: none;
color: #666;
}

.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
    border: none;
    color: #4285F4 !important;
    background: transparent;
}

.nav-tabs > li > a::after {
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after {
transform: scale(1);
}

.tab-nav > li > a::after {
    background: #21527d none repeat scroll 0% 0%;
    color: #fff;
}*/


/*Center column in tables */
/*..................................................................*/
td.center {
    text-align: center;
    vertical-align: middle;
}
th {
    text-align: center !important;
}

div.uk-inline {
    width: 100%;
}

td {
    /*vertical-align: middle !important;
    text-*/align: justify !important;
}

.td-options {
    width: 10% !important;
}
 

/*config switch toggle buttons*/
/*..................................................................*/
.checkbox.checbox-switch {
    padding-left: 0;
}

    .checkbox.checbox-switch label,
    .checkbox-inline.checbox-switch {
        display: inline-block;
        position: relative;
        padding-left: 0;
        text-align: initial;
        vertical-align: auto;
    }

.checkbox.checbox-switch label input,
.checkbox-inline.checbox-switch input {
    display: none;
}

.checkbox.checbox-switch label span,
.checkbox-inline.checbox-switch span {
    width: 35px;
    border-radius: 20px;
    height: 18px;
    border: 1px solid #dbdbdb;
    background-color: rgb(255, 255, 255);
    border-color: rgb(223, 223, 223);
    box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

    .checkbox.checbox-switch label span:before,
    .checkbox-inline.checbox-switch span:before {
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: rgb(255,255,255);
        content: " ";
        top: 0;
        position: relative;
        left: 0;
        transition: all 0.3s ease;
        box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    }

.checkbox.checbox-switch label > input:checked + span:before,
.checkbox-inline.checbox-switch > input:checked + span:before {
    left: 17px;
}


/* Switch Primary */
.checkbox.checbox-switch.switch-primary label > input:checked + span,
.checkbox-inline.checbox-switch.switch-primary > input:checked + span {
    background-color: rgb(0, 105, 217);
    border-color: rgb(0, 105, 217);
    box-shadow: rgb(0, 105, 217) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

.checkbox.checbox-switch.switch-primary label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-primary > input:checked:disabled + span {
    background-color: rgb(109, 163, 221);
    border-color: rgb(109, 163, 221);
    box-shadow: rgb(109, 163, 221) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}


/* Switch Info */
.checkbox.checbox-switch.switch-info label > input:checked + span,
.checkbox-inline.checbox-switch.switch-info > input:checked + span {
    background-color: rgb(23, 162, 184);
    border-color: rgb(23, 162, 184);
    box-shadow: rgb(23, 162, 184) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

.checkbox.checbox-switch.switch-info label > input:checked:disabled + span,
.checkbox-inline.checbox-switch.switch-info > input:checked:disabled + span {
    background-color: rgb(102, 192, 206);
    border-color: rgb(102, 192, 206);
    box-shadow: rgb(102, 192, 206) 0px 0px 0px 8px inset;
    transition: border 0.4s ease 0s, box-shadow 0.4s ease 0s, background-color 1.2s ease 0s;
}

/**/
.dx-field-value {
    /*margin-left: 0px;*/
    width: 100% !important;
}

.dx-radio-value-container {
    display: table-cell;
    padding-right: 3px;
    padding-left: 5px;
    vertical-align: middle;
}

radio-value-container {
    padding-right: 3px;
}

.dx-radiogroup-horizontal .dx-radiobutton {
    margin-right: 5px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .dx-popup-normal.dx-resizable {
        /*min-height: 100%;*/
        overflow-y: scroll !important;
        overflow-x: hidden;
        border-radius: 0px !important;
    }

    .logo-comerce {
        max-width: 40%;
        max-height: 40%;
        padding: 10px;
        top: 70px;
        left: 100px;
    }
    .dx-datagrid-search-panel {
        width: 270px !important;
    }
    #filter_comerce {
        /*width: 270px !important;*/
    }

}
    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {
        .logo-comerce {
            max-width: 40%;
            max-height: 35%;
            padding: 10px;
            top: 100px;
            left: 120px;
        }

        .dx-datagrid-search-panel {
            width: 400px !important;
        }
        #filter_comerce {
            width: 226px !important;
        }

    }

@media only screen and (min-width : 600px) {
    .logo-comerce {
        max-width: 45%;
        max-height: 30%;
        padding: 10px;
        top: 120px;
        left: 100px;
    }

    .dx-datagrid-search-panel {
        width: 400px !important;
    }

    #filter_comerce {
        width: 226px !important;
    }
}

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .logo-comerce {
            max-width: 50%;
            max-height: 30%;
            padding: 10px;
            top: 130px;
            left: 120px;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .logo-comerce {
            max-width: 40%;
            max-height: 35%;
            padding: 10px;
            top: 110px;
            left: 120px;
        }

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .logo-comerce {
            max-width: 40%;
            max-height: 35%;
            padding: 10px;
            top: 100px;
            left: 120px;
        }
    }

    /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
    }

    /* Custom, iPhone Retina */
    @media only screen and (max-width : 320px) {
    }