.link-hover{
    transition:width .3s ;

}

    .link-hover::after {
        content: "";
        position: relative;
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        border-radius: 24px;
        transition: width .3s;
    }

    .link-hover:hover::after {
        width: 100%;
        transition: width .3s;
    }

