﻿@model sng_web.Models.Comerce

@{
    ViewData["Title"] = "Delete";
    var logo = Model.UrlLogo != null ? ("/images/" + Model.UrlLogo) : "/images/comerce.png";

}

<div class="container">
    <h2 class="container uk-heading-bullet">Eliminar <small>Comercio</small></h2>
    <hr />
</div>


<div class="row ">
    <div class="container" >
        <div class="uk-card-default uk-card-hover uk-grid-collapse  uk-margin">
            <div class=" uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                <div class="uk-card-media-left uk-cover-container banner-comerce">
                    <img src="@logo" alt="Banner" class="uk-border-squart logo-comerce" uk-cover>
                    <canvas width="600" height="400"></canvas>
                </div>
                <div>
                    <div class="uk-card-body expand">
                        <h3 class="uk-card-title">@Html.DisplayFor(model => model.Name)</h3>
                        <div class="">
                            <div class="col-sm-6">
                                <dl class="uk-description-list ">
                                    <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                                    <dd>@Html.DisplayFor(model => model.Description)</dd>

                                    <dt>@Html.DisplayNameFor(model => model.Address)</dt>
                                    <dd>@Html.DisplayFor(model => model.Address)</dd>

                                    <dt>@Html.DisplayNameFor(model => model.Ruc)</dt>
                                    <dd> @Html.DisplayFor(model => model.Ruc)</dd>

                                    <dt>@Html.DisplayNameFor(model => model.Phone)</dt>
                                    <dd> @Html.DisplayFor(model => model.Phone)</dd>

                                </dl>
                            </div>
                            <div class="col-sm-6">
                                <dl class="uk-description-list ">
                                    <dt>Opciones</dt>
                                    <dd class="">
                                        <div class="checkbox checbox-switch switch-primary">
                                            <label class="pull-left">
                                                <input type="checkbox" checked="@Model.IsActived" value="@Model.IsActived" disabled /> @Html.DisplayNameFor(model => model.IsActived)
                                                <span></span>
                                            </label>
                                            <label class="pull-right">
                                                <input type="checkbox" checked="@Model.IsAproved" value="@Model.IsAproved" disabled /> @Html.DisplayNameFor(model => model.IsAproved)
                                                <span></span>
                                            </label>
                                        </div><br />
                                    </dd>

                                    <dt>@Html.DisplayNameFor(model => model.Rating)</dt>
                                    <dd>  @Html.DisplayFor(model => model.Rating) <span uk-icon="star"></span></dd>

                                    <dt>@Html.DisplayNameFor(model => model.Owner)</dt>
                                    <dd> @Html.DisplayFor(model => model.Owner.FullName)</dd>

                                    <dt>@Html.DisplayNameFor(model => model.CreatedAt)</dt>
                                    <dd id="CreatedAt">@Model.CreatedAt</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="container" style="margin: 30px"><hr />
                <form asp-action="Delete">
                    <input type="hidden" asp-for="ComerceId" />
                    <a asp-action="Index" class="uk-button uk-button-default uk-button-small"><span uk-icon="icon: chevron-left"></span> Regresar</a>  |
                    <button type="submit" class="uk-button uk-button-danger uk-button-small"><span uk-icon="icon: trash"></span>Eliminar</button>
                </form>
            </div>
            <br />
        </div>
    </div>
</div>
@* <div class="row uk-card uk-card-default uk-card-hover uk-grid-collapse ">
        <div class="container" style="margin: 30px">
            <div class="uk-child-width-1-2@s uk-margin" uk-grid>

                <div class="uk-card-media-left uk-cover-container">
                    <img class="banner" src="~/images/comerce.png" alt="" uk-cover>
                    <canvas width="400" height="300"></canvas>
                </div>

                <div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title"> @Html.DisplayFor(model => model.Name) <small>@Html.DisplayFor(model => model.Category.Name)</small></h3>
                        <dl class="uk-description-list col-sm-6">
                            <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                            <dd>@Html.DisplayFor(model => model.Description)</dd>

                            <dt>@Html.DisplayNameFor(model => model.Address)</dt>
                            <dd>@Html.DisplayFor(model => model.Address)</dd>

                            <dt>@Html.DisplayNameFor(model => model.Ruc)</dt>
                            <dd>@Html.DisplayFor(model => model.Ruc)</dd>

                            <dt style=" text-align: left; vertical-align: middle">
                                <span uk-icon="star"></span> @Html.DisplayFor(model => model.Rating)
                            </dt>

                            <dt>@Html.DisplayNameFor(model => model.CreatedAt)</dt>
                            <dd>@Html.DisplayFor(model => model.CreatedAt)</dd>
                        </dl>

                        <dl class="uk-description-list col-sm-6">
                            <dt>Opciones</dt>
                            <dd class="">
                                <div class="checkbox checbox-switch switch-primary">
                                    <label class="pull-left">
                                        <input type="checkbox" checked="@Model.IsActived" value="@Model.IsActived" disabled /> @Html.DisplayNameFor(model => model.IsActived)
                                        <span></span>
                                    </label>
                                    <label class="pull-right">
                                        <input type="checkbox" checked="@Model.IsAproved" value="@Model.IsAproved" disabled /> @Html.DisplayNameFor(model => model.IsAproved)
                                        <span></span>
                                    </label>
                                </div><br />
                            </dd>

                            <dt>@Html.DisplayNameFor(model => model.Owner)</dt>
                            <dd>@Html.DisplayFor(model => model.Owner.FullName)</dd>

                            <dt>@Html.DisplayNameFor(model => model.UpdatedAt)</dt>
                            <dd>@Html.DisplayFor(model => model.UpdatedAt)</dd>
                        </dl>

                    </div>
                </div>

            </div>
        </div>

    </div> *@
