﻿@model IEnumerable<sng_web.Models.Comerce>

@{
    ViewData["Title"] = "Index";
}

<h2 class="container uk-heading-bullet">Comercios <small>Registros</small></h2>
@*@Html.Partial("~/Views/Shared/_Comerces.cshtml")*@

<div class="container cc">
    <div class="container uk-card-default uk-card-hover">
        <div class="row">
            <br />
            <div class="container cc">
                <div class="pull-right">
                    <div class="uk-display-inline">
                        <div id="filter_comerce" class="uk-display-inline" style="float: left; margin-right: 10px;">
                            <select style="height: 30px; width: 226px;" onchange="orderBy();" id='select_orderBy' class='ui fluid search dropdown'>
                                <option value="any" selected> Todos los registros </option>
                                <option value="rating"> Más puntuados </option>
                                <option value="createdAt"> Más recientes </option>
                                <option value="see" disabled> Más vistos </option>
                            </select>
                        </div>
                        <button class="uk-button uk-button-small uk-button-default" onclick="loadComercesTable()"> <span uk-icon="icon: refresh"></span></button> |
                        <a class="uk-button uk-button-small uk-button-primary" asp-action="Create"> <span uk-icon="icon: plus"></span>Nuevo</a>
                    </div>
                </div><br /><br />
            </div>
        </div>
        <div class="row">
            <div class="container">
                <div id="comerce_container_data"></div>
            </div>
        </div>
    </div>

    <div id="popup_product">
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        loadComercesTable("any");

        function orderBy() {
            var option = $("#select_orderBy option:selected").val();
            loadComercesTable(option);
            //console.log("order by: " + option);
        };


    </script>
}


