﻿@model IEnumerable<sng_web.Models.ApplicationLog>
@{
    var check = "";
    var register = "getByComerce";
    if (User.IsInRole("Admin"))
    {
        check = "checked";
        register = "getAll";
    }
}

<style>
    .options {
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
        margin-top: 20px;
    }

    .option {
        margin-top: 10px;
    }

    .caption {
        font-size: 18px;
        font-weight: 500;
    }

    .option > span {
        margin-right: 10px;
    }

    .option > .dx-widget {
        display: inline-block;
        vertical-align: middle;
    }

    .dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-select {
        padding: 0;
        width: 40px;
        min-width: 40px;
    }
</style>


<div class="row">
    <div class="container">
        <h2 class="uk-heading-bullet" style="float: left">Reportes <small>Detalle de reportes</small></h2>
        <input type="checkbox" id="role" name="role" @check hidden />
        <input type="number" value="@ViewData["ComerceId"]" id="ComerceId" name="ComerceId" hidden />
        <br /><br /><hr />
    </div>
</div>

<div class="container uk-card-default uk-card-hover">
    <div class="row">
        <div class="nav-tabs-custom">
            <div class="box-header with-border">
                <h3 class="box-title">Reportes</h3>
            </div>
            <ul class="nav nav-tabs">
                <li class="active"><a href="#report_cupons" data-toggle="tab" aria-expanded="false">Cupones</a></li>
                <li class=""><a href="#report_promotions" data-toggle="tab" aria-expanded="true">Promociones</a></li>
                <li class=""><a href="#report_royalties" data-toggle="tab" aria-expanded="false">Regalias</a></li>
            </ul>
            <div class="tab-content">

                <div class="tab-pane active" id="report_cupons">
                    <!-- Post -->
                    <div class="post">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="">
                                    <div class="pull-right">
                                        <div class="uk-display-inline">
                                            <button class="uk-button uk-button-small uk-button-default" onclick="loadCuponsReport('@register')"> <span uk-icon="icon: refresh"></span></button>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div id="table_reportCupons"></div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div id="chart_reportCupons"></div>
                                <div class="options">
                                    <div class="caption">Opciones de Gráfico</div>
                                    <div class="option">
                                        <span>Tipo de Serie</span>
                                        <div id="types"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.post -->
                </div>
                <!-- /.tab-pane -->

                <div role="tabpanel" class="tab-pane " id="report_promotions">
                    <!-- Post -->
                    <div class="post">
                        <div class="row">
                            <div class="pull-right">
                                <div class="uk-display-inline">
                                    <button class="uk-button uk-button-small uk-button-default" onclick="promotion.loadPromotionsReport('@register')"> <span uk-icon="icon: refresh"></span></button>
                                </div>
                            </div>
                            <br /><br />
                            <div id="table_reportPromotions">
                            </div>
                        </div>
                    </div>
                    <!-- /.post -->
                </div>
                <!-- /.tab-pane -->


                <div class="tab-pane" id="report_royalties">
                    <!-- Post -->
                    <div class="post">
                        @* panel cupons  ...................................................................................................*@
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="table_royaltiesReport"></div>
                            </div>
                            <div class="col-sm-6">
                                <div id="chart_royaltiesReport"></div>
                            </div>
                        </div>
                    </div>
                    <!-- /.post -->
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
    </div>
</div><br /><br />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        if ($("#role").is(":checked")) {
            //console.log("Role administrador");
            loadCuponsReport("getAll");
            promotion.loadPromotionsReport("getAll");
            royalty.loadRoyaltiesReport("getAll");
        } else {
            //console.log("Role comerciante, comercio: " + ComerceId);
            var ComerceId = $("#ComerceId").val();
            loadCuponsReport("getByComerce");
            promotion.loadPromotionsReport("getByComerce");
            royalty.loadRoyaltiesReport("getByComerce");
        }
    </script>
}
