﻿@model sng_web.Models.Product

@{
    ViewData["Title"] = "Delete";
    var UrlImage = Model.UrlImage != null ? (Model.UrlImage) : "/images/comerce.png";

}

<div class="container">
    <h2 class="uk-heading-bullet">Eliminar <small>Producto</small></h2>
    <hr />
</div>
<div class="container">
    <div class="row uk-card uk-card-default uk-card-hover">
        <div class="row" style="margin: 0px">
            <div class="col-sm-12">

                <div class="uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                    <div class="uk-card-media-left uk-cover-container">
                        <img src="@UrlImage" alt="Imagen producto" style="background-position: center center; " uk-cover>
                        <canvas width="600" height="400"></canvas>
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">@Html.DisplayFor(model => model.Name)</h3>
                        <div>
                            <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                                <div>
                                    <dl class="uk-description-list ">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Name)
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </dt>
                                        <dd>
                                            @Html.DisplayFor(model => model.Description)
                                        </dd>
                                    </dl>
                                </div>

                                <div>
                                    <dl class="uk-description-list ">
                                        <dt>
                                            @Html.DisplayNameFor(model => model.Price)
                                        </dt>
                                        <dd>
                                            C$ @Html.DisplayFor(model => model.Price)
                                        </dd>
                                        
                                        <dt>
                                            @Html.DisplayNameFor(model => model.CreatedAt)
                                        </dt>
                                        <dd id="CreatedAt">
                                            @Html.DisplayFor(model => model.CreatedAt);
                                        </dd>
                                        <dt>
                                            @Html.DisplayNameFor(model => model.UpdatedAt)
                                        </dt>
                                        <dd id="UpdatedAt">
                                            @Html.DisplayFor(model => model.UpdatedAt)
                                        </dd>
                                    </dl>
                                </div>

                                <div>
                                    <dl class="uk-description-list">
                                        <dt>
                                            Comercio Asignado
                                        </dt>
                                        <dd>
                                            @Model.Comerce.Name
                                        </dd>
                                        <dd class="checkbox checbox-switch switch-primary">
                                            <label>
                                                <input type="checkbox" checked="@Model.IsActived" value="@Model.IsActived" disabled /> @Html.DisplayNameFor(model => model.IsActived)
                                                <span></span>
                                            </label>

                                        </dd>
                                    </dl>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin: 0px">
            @{
                string prev = "/Products/Index";
                if (TempData["url_comerce_details"] != null)
                {
                    prev = "/Comerces";
                }
            }
            <hr />
            <form asp-action="Delete">
                <input type="hidden" asp-for="ProductId" />
                <input type="hidden" value="@ViewBag.Refer" name="Refer"/>
                <a href="@prev" class="uk-button uk-button-default uk-button-small"><span uk-icon="icon: chevron-left"></span> Regresar</a>  |
                <button type="submit" class="uk-button uk-button-danger uk-button-small"><span uk-icon="icon: trash"></span>Eliminar</button>
            </form>
        </div><br /><br />
    </div>
</div>
<br />
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script>
    var CreatedAt = $("#CreatedAt").html();
    $("#CreatedAt").html(dateFormat(CreatedAt));
    var UpdatedAt = $("#UpdatedAt").html();
    $("#UpdatedAt").html(dateFormat(UpdatedAt));
    
    </script>
}
